/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE DE LA PAGE D'ACCUEIL/HOME */
.homeBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px; 
  width: 88%; 
  background-size: cover;
  background-position: center;
  border-radius: 15px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  text-align: center; 

  .banner__image {
    display: none; // L'image est utilisée comme background
  }

  .banner__text {
    font-size: 2.8rem; 
    font-weight: bold;
    z-index: 1;
    color: #fff;
    text-shadow: 
    -0.5px -0.5px 0 #000, // Contour noir léger à gauche et en haut
    0.5px -0.5px 0 #000,  // Contour noir léger à droite et en haut
    -0.5px 0.5px 0 #000,  // Contour noir léger à gauche et en bas
    0.5px 0.5px 0 #000,   // Contour noir léger à droite et en bas
    0px 4px 5px rgba(0, 0, 0, 0.6); // Ombre douce étendue uniquement vers le bas
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 15px;
    z-index: 0;
  }
}

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE DE LA PAGE À PROPOS/ABOUT */

.aboutBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px; // Hauteur identique à celle de la bannière d'accueil
  width: 88%; // Largeur identique à celle de la bannière d'accueil
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin: 10px auto; // Espacement autour de la bannière

  .banner__image {
    display: none; // L'image est utilisée comme background
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); // Overlay légèrement sombre
    border-radius: 15px;
    z-index: 0; 
  }
}


/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE GALERIE DE LA PAGE LOGEMENTS/HOUSINGS */