@use '../utils/placeholders' as *; // Import direct du placeholder sans namespace
// Sass a changé la manière dont les sélecteurs composés sont gérés. En supprimant le namespace ou en utilisant *, on rend le placeholder accessible directement et on évite l'erreur liée à l'extension d'un sélecteur composé
@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE DE LA PAGE D'ACCUEIL/HOME */
.homeBanner {
  @extend %banner-common; // Utilisation directe du placeholder
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
  height: vars.$banner-height;

  @media (max-width: 1024px) {
    height: 111px;
  }
  
  .banner__image {
    display: none; // L'image est utilisée comme background
  }

  .banner__text {
    font-size: 2.8rem; 
    font-weight: bold;
    z-index: 1;
    color: #fff;
    text-shadow: 
    -0.5px -0.5px 0 #000, // Contour noir léger à gauche et en haut
    0.5px -0.5px 0 #000,  // Contour noir léger à droite et en haut
    -0.5px 0.5px 0 #000,  // Contour noir léger à gauche et en bas
    0.5px 0.5px 0 #000,   // Contour noir léger à droite et en bas
    0px 4px 5px rgba(0, 0, 0, 0.6); // Ombre douce étendue uniquement vers le bas

      @media (max-width: 1024px) {
        font-size: 1.6rem; 
      }

      @media (max-width: 450px) {
        font-size: 1.4rem; 
        text-align: left; 
        padding-left: 5%; 
        padding-right: 30%;
      }
  }

  &::before {
    @include mixins.banner-overlay(rgba(0, 0, 0, 0.6)); // Noir avec 60% d'opacité
  }
}

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE DE LA PAGE À PROPOS/ABOUT */
.aboutBanner {
  @extend %banner-common; // Utilisation directe du placeholder
  height: vars.$banner-height;

  @media (max-width: 450px) {
    height: 111px; 
  }
  
  .banner__image {
    display: none; // L'image est utilisée comme background
  }

  &::before {
    @include mixins.banner-overlay(rgba(0, 0, 0, 0.3)); // Noir avec 30% d'opacité 
  }
}

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE GALERIE DE LA PAGE LOGEMENTS/HOUSINGS */
.housingsBanner {
  @extend %banner-common;
  height: 415px;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    height: 255px;
  }
  
  .banner__image {
    display: none; // L'image est utilisée comme background
  }

  .banner__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-31%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    &--left {
      left: 1px;
      transform: translateY(-50%) rotate(180deg);
    }

    &--right {
      right: 1px;
    }

    img {
      width: 79px; 
      height: 79px;

      @media (max-width: 768px) {
        width: 24px; 
        height: 24px;
      }
    }
  }

  .banner__counter {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;

    @media (max-width: 768px) { 
      display: none;  
    }
  }
}
