@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.footer {
    background-color: vars.$black; 
    color: vars.$white; 
    text-align: center; 
    padding: vars.$base-padding 0;
    width: 100%;  
    bottom: 0; /* Ancrer en bas */
  
    .footer__content {
      @include mixins.flex-center(column);
      gap: vars.$small-font-size;
    }
  
    .footer__logo {
      max-width: 100px;
      margin-top: vars.$base-margin;
    }
  
    p {
      font-size: vars.$small-font-size;
      margin-top: vars.$base-margin; 
    }
  }
  