@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.about__sections {
    margin: vars.$large-margin auto;
    padding: 0 vars.$base-padding;
    max-width: 1050px;
  }
  
  .about__section {
    margin-bottom: vars.$large-margin;
    background-color: vars.$light-bg;
    border-radius: 10px;
    overflow: hidden;
  
    &-header {
      @include mixins.flex-center;
      justify-content: space-between;
      padding: vars.$base-padding;
      background-color: vars.$primary-color; 
      border-radius: 10px;
      color: vars.$white;
      font-weight: vars.$font-weight-bold;
      cursor: pointer;
  
      h3 {
        margin: 0;
        font-size: 1.3rem;
      }
  
      .arrow {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;
      }
  
      .arrow.open {
        transform: rotate(180deg); // Rotation de l’icône flèche
      }
    }
  
    &-content {
      padding: vars.$base-padding;
      font-size: 1.1rem;
      line-height: 1.5;
      color: vars.$dark-text;
      background-color: vars.$light-bg;
    }
  }
  