@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.home__gallery-container {
    background-color: vars.$light-bg; 
    width: 88%; 
    margin: 30px auto; 
    border-radius: 15px; 
    padding: 50px; 
    @include mixins.flex-center;
    box-sizing: border-box; 
    overflow: hidden; /* Empêche les enfants de déborder */

      @media (max-width: 768px) {
        padding: 35px; 
        background-color: transparent; 
        padding: 0;
      }
      
      @media (max-width: 450px) {
        margin: auto; 
      } 
}
    
  
.home__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%; /* La galerie s'adapte à la largeur du conteneur */
    max-width: 100%; /* Empêche de dépasser la largeur parent */
    justify-items: center; /* Centre les cartes dans les colonnes */

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); // 2 colonnes pour les écrans moyens
      gap: 40px; 
    }
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr); // 1 colonne pour les petits écrans
      gap: 30px; 
    }

    @media (max-width: 450px) {
      margin: 15px 0 30px 0;
      
    }
}
  
.home__card {
    position: relative;
    width: 100%; // S'adapte à la largeur de la colonne
    max-width: 340px; // Largeur maximale des cards
    height: auto; // Ajuste la hauteur en fonction de la largeur
    aspect-ratio: 1 / 1; // Maintient une proportion carrée
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (max-width: 450px) { 
      max-width: 100%; 
      height: 255px; // Hauteur fixe pour conserver l'aspect visuel
      aspect-ratio: unset; // Désactive le ratio carré
    }
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Remplissage sans déformation */
    }
 
    /* Pour le voile superposé */
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); /* Voile du haut vers le bas */
      z-index: 1;
    }
  
    &-title {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      color: vars.$white;
      font-size: 1.125rem;
      font-weight: vars.$font-weight-bold;
      z-index: 2;
      
      @media (max-width: 1024px) {
          font-size: 1rem; 
        }
      
      @media (max-width: 768px) {
          font-size: 0.9rem; 
      }
    }
  
}
  