@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.home__gallery-container {
  padding: 40px 20px;
}

.home__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 30px auto;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.home__card {
  background-color: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.home__card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.home__card-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__card-title {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 10px;
}

.about__sections {
  margin: 35px auto;
  padding: 0 20px;
  max-width: 1050px;
}

.about__section {
  margin-bottom: 35px;
  background-color: #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
}
.about__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #ff6060;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.about__section-header h3 {
  margin: 0;
  font-size: 1.3rem;
}
.about__section-header .arrow {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}
.about__section-header .arrow.open {
  transform: rotate(180deg);
}
.about__section-content {
  padding: 15px 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  background-color: #f6f6f6;
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.error404__title {
  font-size: 18rem;
  color: #ff6060;
  margin-top: 20rem;
  margin-bottom: 3rem;
}
.error404__message {
  font-size: 2.25rem;
  font-weight: 500;
  color: #ff6060;
  margin-bottom: 5rem;
}
.error404__link {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  margin-bottom: 25rem;
  transition: all 0.3s ease;
}
.error404__link:hover {
  color: #ff6060;
}

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE DE LA PAGE D'ACCUEIL/HOME */
.homeBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;
  width: 88%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  text-align: center;
}
.homeBanner .banner__image {
  display: none;
}
.homeBanner .banner__text {
  font-size: 2.8rem;
  font-weight: bold;
  z-index: 1;
  color: #fff;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0px 4px 5px rgba(0, 0, 0, 0.6);
}
.homeBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  z-index: 0;
}

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE DE LA PAGE À PROPOS/ABOUT */
.aboutBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;
  width: 88%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin: 10px auto;
}
.aboutBanner .banner__image {
  display: none;
}
.aboutBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  z-index: 0;
}

/* STYLE SPÉCIFIQUE POUR LA BANNIÈRE GALERIE DE LA PAGE LOGEMENTS/HOUSINGS */
.header {
  display: flex; /* Disposition en ligne */
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem; /* Espacement interne pour aérer le contenu */
  background-color: #fff;
}

.header__logo {
  display: flex;
  align-items: center; /* Centre le logo verticalement */
}
.header__logo img {
  width: 210px; /* Taille du logo */
  height: auto; /* Préserve les proportions */
}

.header__nav {
  display: flex; /* Les liens sont affichés en ligne */
  gap: 4rem; /* Espacement entre les liens */
}
.header__nav a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: #000000;
  font-size: 1.4rem;
  font-weight: 500;
}
.header__nav a.active {
  text-decoration: underline; /* Souligne le lien actif */
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0; /* Ancrer en bas */
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer .footer__logo {
  max-width: 100px;
  margin-top: 1rem;
}
.footer p {
  font-size: 0.875rem;
  margin-top: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
}

/* html, body : doivent occuper toute la hauteur de la fenêtre pour que le footer puisse se positionner correctement en bas */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Force le body et html à remplir la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}

/* #root : Assure une structure flexible avec React => c'est le conteneur principal (injecté par React). On applique ici une flexbox pour organiser Header, main (contenu principal) et Footer */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le contenu couvre toute la hauteur de la fenêtre */
}

/* main : Étend le contenu entre le header et le footer, même si la page est vide */
main {
  flex: 1; /* Permet au contenu principal d'occuper tout l'espace disponible entre le Header et le Footer */
}/*# sourceMappingURL=index.css.map */