// Import des utilitaires
@use './utils/variables' as vars;

// Import des styles des composants
@use './pages/home';
@use './pages/about';
@use './pages/housings';
@use './pages/error404';

@use './components/banners';
@use './components/header';
@use './components/footer';




// Import de la police (CSS natif, après les @use)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

// Styles globaux
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  // Les directives @use doivent toujours avoir un préfixe vars. pour les variables
  font-family: vars.$font-primary, vars.$font-secondary;
}

/* html, body : doivent occuper toute la hauteur de la fenêtre pour que le footer puisse se positionner correctement en bas */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Force le body et html à remplir la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
}

/* #root : Assure une structure flexible avec React => c'est le conteneur principal (injecté par React). On applique ici une flexbox pour organiser Header, main (contenu principal) et Footer */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le contenu couvre toute la hauteur de la fenêtre */
}

/* main : Étend le contenu entre le header et le footer, même si la page est vide */
main {
  flex: 1; /* Permet au contenu principal d'occuper tout l'espace disponible entre le Header et le Footer */
}



