// Placeholder pour les styles communs des bannières
%banner-common {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 88%;
    border-radius: 15px;
    margin: 10px auto;
  }